.slideContainer {
  max-width: 1180px;
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #D9E8EF; /* Fondo del slider */
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 1px solid black;
  background: url('../../../public/menu.png') no-repeat center center;
  background-size: contain;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 1px solid black;
  background: url('../../../public/menu.png') no-repeat center center;
  background-size: contain;
  cursor: pointer;
  border-radius: 50%;
  
}
.divWraperSB{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1250px;
  margin: 10px 0 10px 0
  

}
.divWraperSA{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1250px;
 

}
.divWraperFS{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1220px;
 

}

.divWraperFE{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 1180px;
 

}

.divWraperSB > p {
  font-size: small;
  width: 200px;
  color: lightslategray;
}

.primary{
  padding: 10px 20px;
  margin-right: 5px;
  border-radius: 50px;
  cursor: pointer;
}

.secondary{

  padding: 10px 50px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  color: white;
}
